@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:ital,wght@0,400;0,800;1,700;1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
.common-text{
    color: #3C354F;
    font-weight: 500;
}

/* header related styles */
header{
    max-width: 1920px;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}
.G{
    color: #FF42A5;
}
.nav-title-bar{
    display: flex;
    align-items: center;
    gap: 20px;
}
#logo{
    width: 5.3rem;
    height: 2.25rem;
}


.nav-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.button-alignment{
    align-items: center;
}
.tik-tok{
    padding-left: 24px;
}
.vector{
    padding-right: 1rem;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 2rem;
}
nav li a{
    text-decoration: none;
}
.navigation{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* banner styles */
.banner-left{
    background-image: url(../images/Group\ 14.png);
    width: 100%;
    height: 700px;
    padding-left: 140px;
    padding-top: 110px;
    padding-bottom: 5px;
    margin-right: 70px;
    justify-content: center;
}
.banner{
   display: block;
}
.banner-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    gap: 5px;
    width: 350px;
    height: 55px;
    padding-right: 310px;
    
}
.banner-max{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 6rem;
    font-weight: 800;
    width: 22.2rem;
    height: 6.875rem;
}

.frame{
    display: flex;
    gap: 5px;
}
.btn-sign{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background-color: #FF42A5;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}
.btn-go{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    
}
.banner-section{
    display: flex;
    gap: 30px;
    max-width: 1920px;
}
.banner-right{
    max-width: 710px;
}
.banner-img{
    margin-right: 30px;
    padding-right: 240px;
}


/* we-are-gamer styles */
.we-are-gamer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120rem;
    height: 37.5rem;
    background-color: rgba(255, 66, 165, 0.03);
    margin-bottom: 120px;
}
.gamer-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}
#cmn-width{
    width: 32.5rem;
}
.purpose{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500px;
}
.unleash{
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}
.gamer-img{
    padding-left: 240px;
    gap: 50px;
}
.gamer-right{
    padding-right: 240px;
}

/* collection styles */
.collection-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 30px;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cmn-collection{
    line-height: 10px;
    text-align: center;
    padding-bottom: 30px;
}
.image-container{
    display: flex;
    padding: 0 240px;
    gap: 10px;
    
}
.image-container img{
    gap: 5px;
}



/* career styles */
.career{
    fill: rgba(255, 255, 255, 0.10);
}
.career-content{
    font-size: 3rem;
    font-weight: 700;
    line-height: 30px;
}
#career-description{
    width: 42.5rem;
    color: #FFF;
}
.work-available{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.career{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 240px;
    background-color: #FF42A5;
    color: #FFF;
}

/* button styles */
.button-icon{
    display: flex;
    align-items: center;
    color: #0B0223;
    border: 0;
    border-radius: 50px;
    background: #FFF;
    width: 310px;
    height: 80px;
    cursor: pointer;
    
}
.button-icon:hover{
    background-color: #FF42A5;
}
.btn-name{
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 10px;
}
.btn-align{
    display: flex;
    padding: 50px 150px 30px 240px;
}
.secondary-btn{
    display: flex;
    align-items: center;
    padding: 0 330px 350px 350px;
}

/* footer styles */
footer{
    background-color: #0B0223;
}

#gamer-end{
    color: #FFF;
    text-align: center;
    padding: 120px 0 50px 0;
}
footer > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer li{
    list-style: none;
}
footer li a{
    text-decoration: none;
    color: #FFF;
}
.last-anchor{
    width: 800px;
    padding: 0 550px 53px 550px;
}
div a{
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;

}
.social-links{
    padding-left: 730px;
}
